{% extends 'base.html' %}
{% load static %}
{% block title %}
  About
{% endblock %}
{% block header %}
  <!-- Header Start -->
  <div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
      <div class="col-md-6 p-5 mt-lg-5">
        <h1 class="display-5 animated fadeIn mb-4">About Us</h1>
        <nav aria-label="breadcrumb animated fadeIn">
          <ol class="breadcrumb text-uppercase">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item text-body active" aria-current="page">About</li>
          </ol>
        </nav>
      </div>
      <div class="col-md-6 animated fadeIn">
        <img class="img-fluid" src="{% static 'img/header.jpg' %}" alt="" />
      </div>
    </div>
  </div>
  <!-- Header End -->
{% endblock %}
{% block content %}
  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <div class="about-img position-relative overflow-hidden p-5 pe-0">
            <img class="img-fluid w-100" src="{% static 'img/about.jpg' %}" />
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
          <h1 class="mb-4">#1 Place To Find The Perfect Property</h1>
          <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
          <p>
            <i class="fa fa-check text-primary me-3"></i>Tempor erat elitr rebum at clita
          </p>
          <p>
            <i class="fa fa-check text-primary me-3"></i>Aliqu diam amet diam et eos
          </p>
          <p>
            <i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet
          </p>
          <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- Call to Action Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="bg-light rounded p-3">
        <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
          <div class="row g-5 align-items-center justify-content-center">
            <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
              <div class="mb-4">
                <h1 class="mb-3">Contact With Us</h1>
                <p>Eirmod sed ipsum dolor sit rebum magna erat. Tempor lorem kasd vero ipsum sit sit diam justo sed vero dolor duo.</p>
              </div>
              <a href="/contact" class="btn btn-primary py-3 px-4 me-2"><i class="fa fa-phone-alt me-2"></i>Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Call to Action End -->
{% endblock %}
