{% extends 'base.html' %}
{% load static %}
{% block title %}
  Home
{% endblock %}
{% block header %}
  <!-- Header Start -->
  <div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
      <div class="col-md-6 p-5 mt-lg-5">
        <h1 class="display-5 animated fadeIn mb-4">Find A <span class="text-primary">Perfect Home</span> To Live With Your Family</h1>
        <p class="animated fadeIn mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
        <a href="/get_started" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
      </div>
      <div class="col-md-6 animated fadeIn">
        <div class="owl-carousel header-carousel">
          <div class="owl-carousel-item">
            <img class="img-fluid" src="{% static 'img/carousel-1.jpg' %}" alt="" />
          </div>
          <div class="owl-carousel-item">
            <img class="img-fluid" src="{% static 'img/carousel-2.jpg' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
{% endblock %}
{% block content %}
  <!-- Category Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="mb-3">Hostels by Adresses</h1>
      </div>
      <div class="row g-4">
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
          <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'hostel_list' %}?area=Millat%20Town">
            <div class="rounded p-4">
              <div class="icon mb-3">
                <img class="img-fluid" src="{% static 'img/icon-building.png' %}" alt="Icon" />
              </div>
              <h6>Millat Town</h6>
              <span>123 Properties</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
          <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'hostel_list' %}?area=Satiana%20Road">
            <div class="rounded p-4">
              <div class="icon mb-3">
                <img class="img-fluid" src="{% static 'img/icon-building.png' %}" alt="Icon" />
              </div>
              <h6>Satiana Road</h6>
              <span>123 Properties</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
          <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'hostel_list' %}?area=Jinnah%20Colony">
            <div class="rounded p-4">
              <div class="icon mb-3">
                <img class="img-fluid" src="{% static 'img/icon-building.png' %}" alt="Icon" />
              </div>
              <h6>Jinnah Colony</h6>
              <span>123 Properties</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
          <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'hostel_list' %}?area=D%20Ground">
            <div class="rounded p-4">
              <div class="icon mb-3">
                <img class="img-fluid" src="{% static 'img/icon-building.png' %}" alt="Icon" />
              </div>
              <h6>D Ground</h6>
              <span>123 Properties</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Category End -->

  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <div class="about-img position-relative overflow-hidden p-5 pe-0">
            <img class="img-fluid w-100" src="{% static 'img/about.jpg' %}" />
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
          <h1 class="mb-4">#1 Place To Find The Perfect Property</h1>
          <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
          <p>
            <i class="fa fa-check text-primary me-3"></i>Tempor erat elitr rebum at clita
          </p>
          <p>
            <i class="fa fa-check text-primary me-3"></i>Aliqu diam amet diam et eos
          </p>
          <p>
            <i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet
          </p>
          <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- Property List Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-0 gx-5 align-items-end">
        <div class="col-lg-12">
          <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
            <h1 class="mb-3 w-100 text-center">Hostels For Rent</h1>
          </div>
        </div>
        <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s"></div>
      </div>
      <div class="tab-content">
        <div class="row g-4">
          {% for hostel in hostels %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <a href="{% url 'hostel_detail' hostel.id %}"><img class="img-fluid" src="{{ hostel.cover_image.url }}" alt="" /></a>
                  <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                  <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Hostel</div>
                </div>
                <div class="p-4 pb-0">
                  <a class="d-block h5 mb-2" href="{% url 'hostel_detail' hostel.id %}">{{ hostel.name }}</a>
                  <p>
                    <i class="fa fa-map-marker-alt text-primary me-2"></i>{{ hostel.address }}
                  </p>
                </div>
                <div class="d-flex border-top">
                  <small class="flex-fill text-center border-end py-2">
                    <i class="fa fa-bed text-primary me-2"></i>{{ room_count }}
                    Room(s)
                  </small>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
            <a class="btn btn-primary py-3 px-5" href="/all_hostels">Browse More Hostels</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Property List End -->

  <!-- Testimonial Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="mb-3">Our Clients Say!</h1>
        <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
      </div>
      <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
        <div class="testimonial-item bg-light rounded p-3">
          <div class="bg-white border rounded p-4">
            <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
            <div class="d-flex align-items-center">
              <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-1.jpg' %}" style="width: 45px; height: 45px;" />
              <div class="ps-3">
                <h6 class="fw-bold mb-1">Client Name</h6>
                <small>Profession</small>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-item bg-light rounded p-3">
          <div class="bg-white border rounded p-4">
            <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
            <div class="d-flex align-items-center">
              <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-2.jpg' %}" style="width: 45px; height: 45px;" />
              <div class="ps-3">
                <h6 class="fw-bold mb-1">Client Name</h6>
                <small>Profession</small>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-item bg-light rounded p-3">
          <div class="bg-white border rounded p-4">
            <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
            <div class="d-flex align-items-center">
              <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-3.jpg' %}" style="width: 45px; height: 45px;" />
              <div class="ps-3">
                <h6 class="fw-bold mb-1">Client Name</h6>
                <small>Profession</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial End -->
{% endblock %}
